---
layout: default
title: "跬步致千里，眺远读一方。A single step, a thousand miles."
tagline: Supporting tagline
---
{% include JB/setup %}
<div id="home" class="content">
	<header>
		<div class="unit-head">
			<div class="unit-inner unit-head-inner">
				<h1 class="h2 entry-title">News and other updates</h1>
			</div>
		</div>
	</header>
	<div class="bd">
		<div class="entry-content">
			<div class="index-entry">
				{% for post in site.posts %}
				<div class="post-section">
					<div>
						<span class="post-date">{{ post.date | date_to_string }}</span>  
						<span class="post-title">{{ post.title }}</span>  
					</div>
					<div class="post-cate-tag">
						<span>Category: {{ post.category }}</span>
						<span>Tags: {{ post.tags | array_to_sentence_string }}</span>
					</div>
					<div class="post-desc">
						{{ post.description }}<a href="{{ BASE_PATH }}{{ post.url }}">继续阅读 >></a>   
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-41119975-1']);
  _gaq.push(['_trackPageview']);
  _gaq.push(['_addTrans',
    '1234',           // transaction ID - required
    'Acme Clothing',  // affiliation or store name
    '11.99',          // total - required
    '1.29',           // tax
    '5',              // shipping
    'San Jose',       // city
    'California',     // state or province
    'USA'             // country
  ]);

   // add item might be called for every item in the shopping cart
   // where your ecommerce engine loops through each item in the cart and
   // prints out _addItem for each
  _gaq.push(['_addItem',
    '1234',           // transaction ID - required
    'DD44',           // SKU/code - required
    'T-Shirt',        // product name
    'Green Medium',   // category or variation
    '11.99',          // unit price - required
    '1'               // quantity - required
  ]);
  _gaq.push(['_trackTrans']); //submits transaction to the Analytics servers

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


